/* Fall back colors? Eg educator, talks & interviews */
#donate-banner * {
  box-sizing: border-box;
}
.classy-variable-chooser {
  display: flex;
  flex-wrap: wrap;
  justify-content: "space-between";
  line-height: 0;
}
@media screen and (max-width: 550px) {
  .classy-variable-chooser {
    width: 100%;
  }
}
.classy-variable-chooser.interval {
  flex-direction: column;
}
.classy-variable-chooser.interval li {
  margin-bottom: 12px;
}
.classy-variable-chooser.interval.horizontal {
  flex: 1 0 auto;
  flex-direction: row;
}
@media screen and (max-width: 768px) {
  .classy-variable-chooser.interval.horizontal {
    flex: 1 0 100%;
  }
}
.classy-variable-chooser.interval.horizontal li {
  margin-bottom: 0;
}
.classy-variable-chooser.interval.horizontal li:first-child label {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.classy-variable-chooser.interval.horizontal li:last-child label {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.classy-variable-chooser.amounts li {
  margin: 0 5px;
}
.classy-variable-chooser.amounts li:first-child {
  margin-left: 0;
}
.classy-variable-chooser.amounts li:last-child {
  margin-right: 0;
}
@media screen and (max-width: 1023px) {
  .classy-variable-chooser.amounts li:last-child {
    flex: 1 0 auto;
    margin: 16px 0 0 0;
    width: 100%;
  }
}
.classy-variable-chooser.amounts li:last-child label {
  padding: 9px 0;
}
@media screen and (max-width: 1023px) {
  .classy-variable-chooser.amounts li:nth-last-child(2) {
    margin-right: 0;
  }
}
.classy-variable-chooser.amounts .error label {
  background-color: #cf5044 !important;
}
.classy-variable-chooser li {
  flex: 1;
}
.classy-variable-chooser li label {
  border-radius: 4px;
}
.choice-input + label {
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.5);
  cursor: pointer;
  padding: 9px;
  text-align: center;
  width: 100%;
}
.choice-input:checked + label {
  background-color: #fff;
  color: #1865f2;
}
.choice-input:focus + label,
.choice-input:hover + label {
  box-shadow: 0 0 0 1px #2c3747, 0 0 0 3px #fff;
}
.choice-input:active + label {
  background-color: #eee;
  color: #1865f2;
}
.frequency-selection {
  align-items: center;
  display: block;
  flex: 1;
  justify-content: center;
}
.frequency-selection.horizontal {
  flex: 0 0 190px;
  margin-left: 20px;
}
@media screen and (max-width: 768px) {
  .frequency-selection.horizontal {
    margin-left: 0;
    margin-top: 10px;
  }
}
.frequency-item {
  display: inline-block;
  padding: 8px 16px 8px 0;
}
.frequency-item:last-child {
  padding-right: 0;
}
.frequency-input {
  margin-right: 8px;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End Reset */
/* Adapted from https://fonts.googleapis.com/css?family=Lato:400,400i,700,900 */

/* latin */
@font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 400;
    src: local('Lato Italic'), local('Lato-Italic'), url(/fonts/LatoLatin-Italic.woff2) format('woff2');
    /*
    If the font isn't downloaded, show nothing for about 100ms then display
    the fallback font (if it still isn't downloaded).
    More details:
    https://css-tricks.com/almanac/properties/f/font-display/
    */
    font-display: fallback;
}

/* latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'), url(/fonts/LatoLatin-Regular.woff2) format('woff2');
    font-display: fallback;
}

/* latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: local('Lato Bold'), local('Lato-Bold'), url(/fonts/LatoLatin-Bold.woff2) format('woff2');
    font-display: fallback;
}

/* latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: local('Lato Black'), local('Lato-Black'), url(/fonts/LatoLatin-Black.woff2) format('woff2');
    font-display: fallback;
}

/* non-latin (cyrillic, hungarian, serbian) */
@font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 400;
    src: local('Lato Italic'), local('Lato-Italic'), url(/fonts/lato/Lato-Italic.woff2) format('woff2');
    unicode-range: U+0400-04FF, U+0500-052F, U+2DE0-2DFF, U+A640-A69F, U+1D00-1D7F;
    font-display: fallback;
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'), url(/fonts/lato/Lato-Regular.woff2) format('woff2');
    unicode-range: U+0400-04FF, U+0500-052F, U+2DE0-2DFF, U+A640-A69F, U+1D00-1D7F;
    font-display: fallback;
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: local('Lato Bold'), local('Lato-Bold'), url(/fonts/lato/Lato-Bold.woff2) format('woff2');
    unicode-range: U+0400-04FF, U+0500-052F, U+2DE0-2DFF, U+A640-A69F, U+1D00-1D7F;
    font-display: fallback;
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: local('Lato Black'), local('Lato-Black'), url(/fonts/lato/Lato-Black.woff2) format('woff2');
    unicode-range: U+0400-04FF, U+0500-052F, U+2DE0-2DFF, U+A640-A69F, U+1D00-1D7F;
    font-display: fallback;
}

/* Latin Extended (e.g. vietnamese) */
@font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 400;
    src: local('Lato Italic'), local('Lato-Italic'), url(/fonts/lato/LatoLatinExtended-Italic.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
    font-display: fallback;
}

@font-face {
    font-family: "Lato";
    font-weight: 400;
    src: url("/fonts/lato/LatoLatinExtended-Regular.woff2");
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
    font-display: fallback;
}

@font-face {
    font-family: "Lato";
    font-weight: 700;
    src: url("/fonts/lato/LatoLatinExtended-Bold.woff2");
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
    font-display: fallback;
}

@font-face {
    font-family: "Lato";
    font-weight: 900;
    src: url("/fonts/lato/LatoLatinExtended-Black.woff2");
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
    font-display: fallback;
}

/* Adapted from https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,600 */

/* latin-ext */
@font-face {
  font-family: 'Source Serif Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Serif Pro'), local('SourceSerifPro-Regular'), url(/fonts/SourceSerifPro-Regular-Extended.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  font-display: fallback;
}
/* latin */
@font-face {
  font-family: 'Source Serif Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Serif Pro'), local('SourceSerifPro-Regular'), url(/fonts/SourceSerifPro-Regular.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  font-display: fallback;
}
/* latin-ext */
@font-face {
  font-family: 'Source Serif Pro';
  font-style: normal;
  font-weight: 600;
  src: local('Source Serif Pro Semibold'), local('SourceSerifPro-Semibold'), url(/fonts/SourceSerifPro-Semibold-Extended.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  font-display: fallback;
}
/* latin */
@font-face {
  font-family: 'Source Serif Pro';
  font-style: normal;
  font-weight: 600;
  src: local('Source Serif Pro Semibold'), local('SourceSerifPro-Semibold'), url(/fonts/SourceSerifPro-Semibold.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  font-display: fallback;
}

/* cyrilic */
@font-face {
    font-family: 'Source Serif Pro';
    font-style: normal;
    font-weight: 400;
    src: local('Source Serif Pro'), local('SourceSerifPro-Regular'), url(/fonts/SourceSerifPro-Regular-Cyrillic.woff2) format('woff2');
    unicode-range: U+0400-04FF, U+0500-052F, U+2DE0-2DFF, U+A640-A69F, U+1D00-1D7F;
    font-display: fallback;
}

@font-face {
    font-family: 'Source Serif Pro';
    font-style: normal;
    font-weight: 600;
    src: local('Source Serif Pro Semibold'), local('SourceSerifPro-Semibold'), url(/fonts/SourceSerifPro-Semibold-Cyrillic.woff2) format('woff2');
    unicode-range: U+0400-04FF, U+0500-052F, U+2DE0-2DFF, U+A640-A69F, U+1D00-1D7F;
    font-display: fallback;
}

/* Arabic */
@font-face {
    font-family: "Noto Serif";
    font-weight: 400;
    src: url("/fonts/arabic/NotoNaskhArabic-Regular.woff2");
    unicode-range: U+0600-06FF;
    font-display: fallback;
}

@font-face {
    font-family: "Noto Sans";
    font-weight: 400;
    src: url("/fonts/arabic/NotoSansArabic-Regular.woff2");
    unicode-range: U+0600-06FF;
    font-display: fallback;
}

@font-face {
    font-family: "Noto Sans";
    font-weight: 700;
    src: url("/fonts/arabic/NotoSansArabic-Bold.woff2");
    unicode-range: U+0600-06FF;
    font-display: fallback;
}

@font-face {
    font-family: "Noto Sans";
    font-weight: 900;
    src: url("/fonts/arabic/NotoSansArabic-Black.woff2");
    unicode-range: U+0600-06FF;
    font-display: fallback;
}

/* Armenian */
@font-face {
    font-family: "Noto Serif";
    font-weight: 400;
    src: url("/fonts/armenian/NotoSerifArmenian-Regular.woff2");
    unicode-range: U+0530-058F;
    font-display: fallback;
}

@font-face {
    font-family: "Noto Sans";
    font-weight: 400;
    src: url("/fonts/armenian/NotoSansArmenian-Regular.woff2");
    unicode-range: U+0530-058F;
    font-display: fallback;
}

@font-face {
    font-family: "Noto Sans";
    font-weight: 700;
    src: url("/fonts/armenian/NotoSansArmenian-Bold.woff2");
    unicode-range: U+0530-058F;
    font-display: fallback;
}

@font-face {
    font-family: "Noto Sans";
    font-weight: 900;
    src: url("/fonts/armenian/NotoSansArmenian-Black.woff2");
    unicode-range: U+0530-058F;
    font-display: fallback;
}

/* Greek */
@font-face {
    font-family: "Noto Serif";
    font-weight: 400;
    src: url("/fonts/greek/NotoSerif-Regular.woff2");
    unicode-range: U+0370-03FF;
    font-display: fallback;
}

@font-face {
    font-family: "Noto Sans";
    font-weight: 400;
    src: url("/fonts/greek/NotoSans-Regular.woff2");
    unicode-range: U+0370-03FF;
    font-display: fallback;
}

@font-face {
    font-family: "Noto Sans";
    font-weight: 700;
    src: url("/fonts/greek/NotoSans-Bold.woff2");
    unicode-range: U+0370-03FF;
    font-display: fallback;
}

@font-face {
    font-family: "Noto Sans";
    font-weight: 900;
    src: url("/fonts/greek/NotoSans-Black.woff2");
    unicode-range: U+0370-03FF;
    font-display: fallback;
}

/* Hebrew */
@font-face {
    font-family: "Noto Serif";
    font-weight: 400;
    src: url("/fonts/hebrew/NotoSerifHebrew-Regular.woff2");
    unicode-range: U+0590-05FF;
    font-display: fallback;
}

@font-face {
    font-family: "Noto Sans";
    font-weight: 400;
    src: url("/fonts/hebrew/NotoSansHebrew-Regular.woff2");
    unicode-range: U+0590-05FF;
    font-display: fallback;
}

@font-face {
    font-family: "Noto Sans";
    font-weight: 700;
    src: url("/fonts/hebrew/NotoSansHebrew-Bold.woff2");
    unicode-range: U+0590-05FF;
    font-display: fallback;
}

@font-face {
    font-family: "Noto Sans";
    font-weight: 900;
    src: url("/fonts/hebrew/NotoSansHebrew-Black.woff2");
    unicode-range: U+0590-05FF;
    font-display: fallback;
}

html,
body {
  height: 100%;
}
body {
  font-family: 'Lato', 'Noto Sans', 'Helvetica', 'Corbel', sans-serif, 'Helvetica', 'Corbel', sans-serif;
  font-size: 14px;
  margin: 0;
  color: #21242c;
  line-height: 1.4;
}
#outer-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #eee;
  height: 100%;
  margin: 0 0 -77px;
}
#outer-wrapper.white-outer-wrapper {
  background-color: #fff;
}
#page-container {
  flex: 1 0 auto;
  height: 100%;
  width: 100%;
  max-width: 1200px;
  position: relative;
  margin: 0 auto;
}
#page-container.full-bleed {
  max-width: none;
}
#page-container:focus {
  outline: none;
}
.tutorial-outer-wrapper #page-container,
.scratchpad-outermost-wrapper #page-container {
  max-width: none;
}
#page-container-inner {
  height: 100%;
}
#page-container-inner article {
  /* TODO(benkomalo): determine if this is correct. On the homepage we
     * definitely don't want the border (as it was for the old design).
     * Does it apply everywhere */
  border-top: none;
}
#app-shell-root {
  height: 100%;
}
.external-styles-missing {
  display: none;
}
.contained-and-centered {
  margin: 0 auto;
  max-width: 1200px;
}
.min-contained-and-centered {
  margin: 0 auto;
}
.visible-on-responsive-page {
  display: none !important;
}
#page_sub_nav {
  display: none;
}
body,
#page-container,
footer,
footer .footer-container {
  /* Needs !important because we might load shared.css later */
  min-width: 0 !important;
}
.full-height {
  height: 100%;
}
.box-sizing-border-box-reset {
  box-sizing: border-box;
}
.box-sizing-border-box-reset * {
  box-sizing: inherit;
}
.box-sizing-content-box-reset {
  box-sizing: content-box;
}
.box-sizing-content-box-reset * {
  box-sizing: inherit;
}
article {
  padding: 0 20px;
  position: relative;
  border-top: 1px solid #C6D1AD;
}
/* Basic typography for the entire site */
h1,
h2,
h3,
h4,
h5 {
  font-family: inherit;
  font-weight: bold;
}
h1 {
  font-size: 25px;
  margin-bottom: 22px;
}
.main-headline,
.section-headline {
  padding-top: 22px;
}
h1.main-headline {
  font-size: 32px;
  position: relative;
  line-height: 37px;
  z-index: 10;
}
h2 {
  font-size: 20px;
  margin-bottom: 22px;
}
h3 {
  font-size: 18px;
  margin-bottom: 22px;
}
h4 {
  font-size: 15px;
  margin-bottom: 22px;
}
h5 {
  font-size: 15px;
  margin-bottom: -22px;
}
p {
  font-size: 14px;
  margin: 22px 0;
}
.pulls {
  margin-bottom: 9px;
}
/* "Pulls" the next block element up by halving the margin. */
.pulled {
  margin-top: 11px;
  margin-bottom: 22px;
}
/* Preserves vertical rhythm. Not always necessary */
b,
strong {
  font-weight: bold;
}
em,
cite {
  font-style: italic;
}
hr {
  background: #CCC;
  border: none;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.075);
  clear: both;
  color: #CCC;
  display: block;
  height: 1px;
  margin: 18px 0 36px 0;
  padding: 0;
  width: 100%;
}
hr.thin {
  margin-bottom: 18px;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.4;
  filter: alpha(opacity=40);
  width: 50%;
}
/* Links in the header and footer don't change color when visited. */
a:link,
a:visited,
header a:visited,
footer a:visited,
.visited-no-recolor a:visited,
a.visited-no-recolor:visited {
  color: #005987;
}
a:link.no-underline,
a:visited.no-underline,
header a:visited.no-underline,
footer a:visited.no-underline,
.visited-no-recolor a:visited.no-underline,
a.visited-no-recolor:visited.no-underline {
  text-decoration: none;
}
a:visited {
  color: #7D00AD;
}
a:link:hover,
a:link:focus,
a:visited:hover,
a:visited:focus {
  color: #707070;
}
a:link:hover.no-underline,
a:link:focus.no-underline,
a:visited:hover.no-underline,
a:visited:focus.no-underline {
  text-decoration: none;
}
form {
  display: inline;
}
.fixed-width {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
ul.styled-list {
  margin-left: 16px;
}
ul.styled-list {
  list-style: disc;
}
ol.styled-list {
  list-style: decimal;
}
nav {
  display: block;
  clear: both;
  width: 100%;
  margin: 0;
}
article,
section {
  display: block;
}
/* Clearfix */
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
/* End Clearfix */
.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.skip-to-main {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  background-color: #fff;
  left: 60px;
  line-height: 45px;
  padding: 0 10px;
  top: 60px;
}
.skip-to-main:focus,
.skip-to-main:active {
  clip: auto;
  height: auto;
  width: auto;
}

